
    
    body{
        background-color:rgb(204, 205, 240);
    }
    
    h1{
        background-color:rgb(229, 219, 255);
    }
    
    h2{
        background-color:rgb(229, 219, 255);
    }
    
    #list{
        background-color:rgb(229, 219, 255);
    }
    
    </style>


    <style>
      
      body{
        background-color:rgb(229, 219, 255);
    }
      
      h1{
          background-color:rgb(204, 205, 240);
      }
      
 
